target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
# Backup files
*~

# JVM error logs
hs_err_pid*.log

# Maven output directory
/target/

# Eclipse output directory
/bin/
# Eclipse settings
/.classpath
/.project
/.settings/
